.add__product-area {
    background-color: var(--bg-login);
    position: relative;
}

.product__image-popup {
    background-color: rgba(206, 206, 206, 0.63);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 150px;
    align-items: center;
    flex-direction: column;
    display: none;
}

.product__image-popup-header {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__image-popup-header p {
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 16px;
}

.product__images-popup-wrapper {
    height: 85%;
    margin-bottom: 25px;
}

.product__images-popup-wrapper img{
    width: 98px;
    margin: 0 0 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.add__product-wrapper {
    padding: 16px 0;
}

.add__product-wrapper p{
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 16px;
}

.add__product-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add__product-input-wrapper {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.add__product-input-wrapper div {
    margin-top: 4px;
}

.add__product-area label {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--gray);
}

.add__product-input-wrapper input {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1rem;
}

.add__product-input-wrapper select {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1rem;
}

.add__product-textarea-wrapper {
    width: 100%;
    padding: 16px 12px;
    margin-bottom: 16px;
}

.add__product-textarea-wrapper textarea {
    width: 100%;
    height: 50px;
    resize: none;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1rem;
}

.add__product-button {
    width: 100%;
    height: 51px;
}

@media screen and (min-width: 1440px) {
    .add__product-wrapper {
        padding: 32px 288.5px;
    }
}