.banner__container {
    position: relative;
}

.banner__image {
    width: 100%;
}

.banner__content-wrapper {
    position: absolute;
    padding-bottom: 16px;
    bottom: 0;
    color: var(--white);
}

.banner__title {
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 8px;
}

.banner__text {
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 8px;
}

.button__banner {
    width: 119px;
}

@media screen and (min-width: 768px) {
    .banner__container {
        height: 352px;
        overflow: hidden;
    }

    .banner__image {
        transform: translate(0, -15%); 
    }

    .banner__content-wrapper {
        padding-bottom: 32px;
    }
    
    .banner__title {
        font-weight: 700;
        font-size: 3.25rem;
        margin-bottom: 16px;
    }
    
    .banner__text {
        font-weight: 600;
        font-size: 1.375rem;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .banner__image {
        transform: translate(0, -25%); 
    }
}

@media screen and (min-width: 1440px) {
    .banner__image {
        transform: translate(0, -25%); 
    }
}